.home {
  width: 100%;
  text-align: center;
}

.home p {
  font-family: monospace;
  line-height: 20px;
  word-spacing: 5px;
}

.itemBox {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ADBC9F;

}

.itemBox p{
    width: 60%;
    margin: 5% 20%;
}

.profiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 30px;
}


.formDiv{
  width: 20%;
  margin: 5% auto;
  background-color: bisque;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formDiv input, .formDiv textarea{
  border: 0px;
  border-radius: 10px;
  height: 40px;
  text-align: center;
}

.formDiv textarea{
  padding-top: 20px;
}

.formDiv button {
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  background-color:chartreuse;
  font-size: large;
}