.startPageDiv{
    text-align: justify;
    font-family: monospace;
    width: 60%;
    margin: auto;
}

.startPageDiv h1{
    text-align: center;
}
.startPageDiv p{
    font-weight: bold;
    font-size: larger;
    line-height: 30px;
    word-spacing: 10px;
}